beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
dash==3.0.4
defusedxml==0.7.1
et_xmlfile==2.0.0
filelock==3.13.1
Flask==3.0.3
fonttools==4.57.0
fsspec==2024.6.1
greenlet==3.5.1
idna==3.10
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.8
KratosConstitutiveLawsApplication==10.2.1
KratosContactStructuralMechanicsApplication==10.2.1
KratosConvectionDiffusionApplication==10.2.1
KratosCoSimulationApplication==10.2.1
KratosDamApplication==10.2.1
KratosDEMApplication==10.2.1
KratosFluidDynamicsApplication==10.2.1
KratosFSIApplication==10.2.1
KratosGeoMechanicsApplication==10.2.1
KratosLinearSolversApplication==10.2.1
KratosMappingApplication==10.2.1
KratosMeshingApplication==10.2.1
KratosMeshMovingApplication==10.2.1
KratosMPMApplication==10.2.1
KratosMultiphysics==10.2.1
KratosMultiphysics-all==10.2.1
KratosPoromechanicsApplication==10.2.1
KratosShallowWaterApplication==10.2.1
KratosStructuralMechanicsApplication==10.2.1
MarkupSafe==2.1.5
matplotlib==3.10.1
mpmath==1.3.0
narwhals==1.36.0
nest-asyncio==1.6.0
networkx==3.3
numpy==2.2.1
odfpy==1.4.1
openpyxl==3.1.5
packaging==25.0
pandas==3.0.3
phiml==1.12.2
pillow==11.0.0
platformdirs==4.3.7
playwright==1.60.0
plotly==6.0.1
plyer==2.1.0
pooch==1.8.2
pyee==13.0.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pyvista==0.45.0
RapidFuzz==3.14.5
requests==2.32.3
retrying==1.3.4
scikit-learn==1.6.1
scipy==1.15.1
scooby==0.10.1
setuptools==70.2.0
six==1.17.0
soupsieve==2.8.4
sympy==1.13.3
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2026.2
urllib3==2.4.0
vtk==9.4.2
Werkzeug==3.0.6
zipp==3.21.0
